ansible==8.5.0
ansible-core==2.15.5
ansible-pylibssh==1.1.0
anyio==4.0.0
certifi==2023.7.22
cffi==1.16.0
cryptography==41.0.4
exceptiongroup==1.1.3
h11==0.14.0
httpcore==0.17.3
httpx==0.24.1
idna==3.4
importlib-resources==5.0.7
Jinja2==3.1.2
MarkupSafe==2.1.3
packaging==23.2
pycparser==2.21
PyYAML==6.0.1
resolvelib==1.0.1
sniffio==1.3.0
urllib3==1.26.17
virl2-client==2.6.1
